.feedback {
  $this: &;

  width: 100%;
  position: relative;
  margin: 20vw 0 0 0;
  z-index: 1;

  @include tablet {
    margin: 40px 40px;
  }

  &--root {
    @include desktop {
      order: 2;
      width: 825px;
      margin: 94px auto 0 30px;
    }

    @include tablet {
      order: 2;
    }
    
    & {
      .feedback-item__left {
        order: 2;
      }

      @include tablet {
        order: 1;
      }

      & {
        .feedback-item__center {
          order: 1;

          @include tablet {
            order: 2;
          }
        }
      }
    }
  }

  &--root {
    & .upvotes {
      flex-wrap: no-wrap;

      & .arrow {
        margin: 0 10px 0 0;
      }

      @include tablet {
        flex-wrap: wrap;
      }
    }
  }

  &--details {
    width: auto;

    & {
      .feedback-item__left {
        order: 2;
      }

      @include tablet {
        order: 1;
      }

      & {
        .feedback-item__center {
          order: 1;

          @include tablet {
            order: 2;
          }
        }
      }

    & .upvotes {
      flex-wrap: wrap;

      & .arrow {
        margin: 0 10px 0 0;
      }
    }
  }
}

  &--roadmap {
    @include tablet {
      margin: 30px 30px 0 0;
      width: 100%;
    }

    & {
      .feedback-item__left {
        
        order: 2;
      }

      & .upvotes {
        flex-wrap: no-wrap;
      }
    }

    & {
      .feedback-item__center {
        order: 1;
      }
    }

    & .upvotes {
      flex-wrap: no-wrap;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 vwm(24);
    height: vwm(56);
    background-color: #373f68;
    color: #f2f4fe;
    margin-bottom: 32px;

    @include tablet {
      border-radius: 10px;
      height: 72px;
      margin-bottom: 24px;
    }

    @include desktop {
      padding-top: unset;
    }

    #{$this}__counter {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
      }

      & .bulb {
        height: 24px;
        width: 23px;
        background-image: url(/src/assets/images/suggestions/bulb.png);
        background-size: cover;
        margin-right: 16px;
      }

      & .count {
        margin-right: 5px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.25px;
      }

      & h3 {
        height: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.25px;
      }
    }

    #{$this}__sort {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      cursor: pointer;
      width: 200px;
      cursor: pointer;

      & .arrow {
        width: 8px;
        height: 4px;
        display: inline-block;
        align-self: center;
        background-image: url(/src/assets/images/suggestions/white-arrow.png);
        background-size: cover;
        margin-left: auto;
        transition: 0.5s transform;

        &--rotated {
          transition: 0.5s transform;
          transform: rotateX(180deg);
        }
      }

      & .text {
        min-height: 30px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding-right: 15px;

        @include tablet {
          min-width: 200px;
        }
      }

      & .current {
        padding-left: 5px;
      }

      & .dropdown {
        padding: 66px 0 0 0;
        position: absolute;
        top: 26px;
        left: 0;
        width: 100%;
        height: 200px;
        display: none;

        @include desktop {
          padding: 46px 0 0 0;
          top: 26px;
        }

        &--visible {
          display: block;
        }

        & .dropdown-item {
          height: 50px;
          background-color:#f5eaea;
          display: flex;
          padding-left: 10px;
          align-items: center;
          color: black;
          border-bottom: 0.5px solid rgb(207, 207, 207);
          justify-content: space-between;
          transition: 0.3s;

          &:hover {
            color: purple;
            cursor: pointer;
            background-color: #f8f4f4;
            transition: 0.3s;
          }

          &:nth-child(1) {
            border-top: 0.5px solid rgb(207, 207, 207);
          }

          & .checked {
            height: 15px;
            width: 15px;
            background: url("/src/assets/images/shared/icon-check.svg");
            background-repeat: no-repeat;
            background-size: contain;
            display: none;
            margin-right: 10px;
          }
        }
      }
    }

    & a.add {
      background-color: purple;
      display: inline-block;
      padding: 10px 16px;
      color: #f2f4fe;
      border-radius: 10px;
      cursor: pointer;
      min-width: 140px;
      font-size: 13px;

      @include desktop {
        font-size: 14px;
        line-height: 20px;
        min-width: unset;
      }
    }
  }

  & .feedback-items-wrapper {
    margin: 24px;

    @include tablet {
      margin: 0;
    }

    & .feedback-item {
      display: flex;
      flex-wrap: wrap;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: -0.180556px;
      color: #3a4374;
      padding: 24px;
      border-radius: 10px;
      background: #ffffff;
      margin-bottom: 16px;
      cursor: pointer;

      @include tablet {
        padding: 28px 32px;
        min-height: 151px;
        overflow: auto;
        margin-bottom: 20px;
      }

      &__left {
        flex: 1;
        display: flex;

        @include tablet {
          flex: 0 1 auto;
          flex-direction: column;
          margin-right: 40px;
          padding: 14px 11px 0;
        }

        & .upvotes {
          cursor: pointer;
          border-radius: 5px;
          min-width: 40px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          & > * {
            flex: 100%;
            text-align: center;
          }

          &:hover {
            background-color: rgb(173, 173, 173);
          }

          &--highlighted {
            background-color: rgb(58, 58, 196);
            color: white;
          }

          & .arrow {
            width: 8px;
            height: 4px;
            background-image: url(/src/assets/images/shared/icon-arrow-up.svg);
            background-size: cover;
            display: inline-block;
            align-self: center;

            @include tablet {
              margin: 0 auto 8px;
            }
          }
        }
      }

      &__left,
      &__right {
        display: flex;
      }

      &__center {
        flex: 100%;

        @include tablet {
          flex: 0 1 auto;
        }

        & h4 {
          font-weight: bold;

          @include tablet {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.25px;
          }
        }

        & p {
          color: #647196;
          margin-top: 8px;

          @include tablet {
            font-size: 16px;
            line-height: 23px;
          }
        }

        & .tag {
          margin: 8px 0 16px;

          & span {
            color: #4661e6;
            font-weight: 600;
            background: #f2f4ff;
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 30px;
            padding: 0 16px;

            @include tablet {
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
      }

      &__right {
        order: 3;
        flex: 1;
        justify-content: flex-end;

        @include tablet {
          padding-top: 40px;
        }

        @include desktop {
          order: 3;
        }

        & .comment {
          width: 18px;
          height: 16px;
          background-image: url(/src/assets/images/shared/icon-comments.svg);
          background-size: cover;
          margin-right: 10px;
          font-size: 13px;
        }
      }
    }
  }

  .feedback-empty {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      position: relative;
      flex: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }

    .img-wrapper {
      & div {
        width: 30%;
        background-image: url(/src/assets/images/suggestions/illustration-empty.svg);
        background-size: cover;
      }

      height: 30vw;
    }

    a {
      background-color: purple;
      border-radius: 10px;
      width: 180px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__no-results {
      display: none;
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}

#loading {
  position: absolute;
  top: 40%;
  left: 45%;
  display: inline-block;
  margin: auto;
  align-self: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(189, 150, 150, 0.3);
  border-radius: 50%;
  border-top-color: rgb(208, 187, 214);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}