.edit {
  $this: &;

  width: 540px;
  margin: 100px auto;
  background-color: white;
  padding: 24px;
  border-radius: 10px;

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @include tablet {
      border-radius: 10px;
      height: 72px;
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    margin: auto;

    & > * {
      width: 100%;
    }

    & h3 {
      margin-top: 20px;

      & + div {
        margin-bottom: 10px;
      }
    }

    input {
      height: 30px;
    }

    .select {
      background: #f7f8fd;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      height: 30px;

      &:focus {
        border: 1px solid #4661e6;
      }
    }

    textarea {
      width: 100%;
      background: #f7f8fd;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      resize: none;

      &:focus {
        border: 1px solid #4661e6;
      }
    }

    & .btns {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      color: white;
    }

    button {
      width: 130px;
      height: 50px;
      font-weight: 700;
      border-radius: 10px;

      &.delete {
        background-color: red;
        margin-right: auto;
      }

      &.cancel {
        background-color: rgb(26, 29, 54);
        margin-right: 10px;
      }

      &.submit {
        background-color: purple;
      }
    }
  }
}


// custom select 
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #ffffff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  color: black
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}