.roadmap {
  $this: &;

  margin: 50px auto;
  width: 95%;

  @include desktop {
    width: 1100px;
    margin: 50px auto;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 vwm(24);
    height: vwm(56);
    background-color: #373f68;
    color: #f2f4fe;
    margin-bottom: 32px;
    border-radius: 10px;

    @include tablet {
      height: 72px;
      margin-bottom: 24px;
    }

    @include desktop {
      padding-top: unset;
    }

    & .arrow {
      width: 8px;
      height: 4px;
      display: inline-block;
      align-self: center;
      background-image: url(/src/assets/images/suggestions/white-arrow.png);
      background-size: cover;
      transform: rotate(90deg);
      margin-bottom: 3px;
    }

    & a.add {
      font-size: 14px;
      line-height: 20px;
      background-color: purple;
      display: inline-block;
      padding: 10px 16px;
      color: #f2f4fe;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      flex-wrap: nowrap;
    }

    .roadmap-mobile-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;

      @include tablet {
        display: none;
      }

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid rgb(192, 192, 192);
        flex: 1;
      }
    }
  }

  &__column {
    width: 100%;

    @include tablet {
      width: 30%;
      margin: 1.5%;
    }

    &--planned {
      .feedback-item {
        border-top: 5px solid orange;
        border-bottom: 5px solid orange;
      }
    }

    &--in-progress {
      .feedback-item {
        border-top: 5px solid purple;
        border-bottom: 5px solid purple;
      }
    }

    &--live {
      .feedback-item {
        border-top: 5px solid lightblue;
        border-bottom: 5px solid lightblue;
      }
    }

    & .name-btn {
      &--active {
        border-bottom: 1px solid #000;
      }
    }

    & .feedback-item {
      @include tablet {
        height: 360px;
      }
    }
  }
}
