html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  font-family: Jost, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f8fd;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

bold {
  font-weight: 700;
}

button,
input,
summary {
  border: 0;
  outline: 0;
  padding: 0;
  background: unset;
  background-color: unset;
  color: unset;
}
button:active,
input:active,
summary:active {
  border: 0;
  outline: 0;
}
button:focus,
input:focus,
summary:focus {
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

img,
embed {
  max-width: 100%;
  height: auto;
}

figure {
  display: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

a {
  text-decoration: none;
  border: 0px solid black;
  outline: none;
  color: unset;
}

a:any-link {
  border: none;
}

a:-webkit-any-link {
  border: none;
}

address {
  font-style: unset;
}

.tabFocus:focus-visible {
  outline: 0.2vw solid rgba(15, 15, 15, 0.575);
  outline-offset: 0.2vw;
  transition: 0s all;
}

*:focus {
  border: 0;
  outline: 0;
}

ul,
li,
ol {
  display: block;
  list-style-type: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

input,
select,
.back,
a,
button {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .sidebar {
    position: relative;
    overflow: visible;
    height: 23.1770833333vw;
    margin: 56px 40px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar {
    margin: 94px 0 0 auto;
    width: 255px;
    flex-direction: column;
  }
}
.sidebar__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vw;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #e84d70 0%, #a337f6 53.09%, #28a7ed 100%);
  color: #ffffff;
  padding: 0 24px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sidebar__titles {
    align-items: flex-end;
    padding: 24px;
    width: 29.0364583333vw;
    height: 100%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar__titles {
    width: unset;
    min-height: 137px;
  }
}
.sidebar__titles h1 {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1875px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .sidebar__titles h1 {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
  }
}
.sidebar__titles h3 {
  font-size: 13px;
  line-height: 19px;
  mix-blend-mode: normal;
}
@media screen and (min-width: 768px) {
  .sidebar__titles h3 {
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.75;
    font-weight: 500;
  }
}
.sidebar__titles .toggleButton {
  width: 5.3333333333vw;
  height: 4.5333333333vw;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}
@media screen and (min-width: 768px) {
  .sidebar__titles .toggleButton {
    display: none;
  }
}
.sidebar__titles .toggleButton > div {
  width: 100%;
  height: 0.8vw;
  background: white;
}
.sidebar__menu {
  position: absolute;
  height: calc(100vh - 20vw);
  width: 72.2666666667vw;
  top: 20vw;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #f7f8fd;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 10;
}
.sidebar__menu--visible {
  transition: 0.3s;
  transform: translateX(0%);
}
@media screen and (min-width: 768px) {
  .sidebar__menu {
    position: relative;
    flex-direction: row;
    top: 0;
    width: calc(100% - 29.03646vw);
    height: 100%;
    transform: translateX(0%);
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar__menu {
    width: 100%;
    flex-direction: column;
  }
}
.sidebar__menu > div {
  width: 100%;
  height: 47.4666666667vw;
  background: #ffffff;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .sidebar__menu > div {
    height: unset;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar__menu > div {
    margin-left: 0px;
    padding: 24px;
  }
}
.sidebar__menu .sidebar__categories {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1vw;
}
@media screen and (min-width: 768px) {
  .sidebar__menu .sidebar__categories {
    padding: 24px;
  }
}
.sidebar__menu .sidebar__categories > button {
  font-size: 13px;
  line-height: 19px;
  color: #4661e6;
  padding: 5.5px 16px;
  margin: 0 8px 16px 0;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.sidebar__menu .sidebar__categories > button:nth-child(1), .sidebar__menu .sidebar__categories > button:nth-child(2), .sidebar__menu .sidebar__categories > button:nth-child(3) {
  width: 48px;
}
.sidebar__menu .sidebar__categories > button:hover {
  background-color: #cfd7ff;
}
.sidebar__menu .sidebar__categories > button:focus {
  background-color: #4661e6;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .sidebar__menu .sidebar__categories {
    margin-top: 24px;
  }
}
.sidebar__menu .sidebar__status-wrapper {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .sidebar__menu .sidebar__status-wrapper {
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .sidebar__menu .sidebar__status-wrapper {
    margin-top: 24px;
  }
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display {
  display: flex;
  flex-wrap: wrap;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display span {
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display a {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #4661e6;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status {
  font-size: 16px;
  line-height: 23px;
  color: #647196;
  margin-bottom: 8px;
  flex: 100%;
  display: flex;
  align-items: center;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status .circle {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 16px;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status .count {
  line-height: 23px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-left: auto;
  color: #647196;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status--planned {
  margin-top: 24px;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status--planned .circle {
  background-color: #f49f85;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status--in-progress .circle {
  background-color: purple;
}
.sidebar__menu .sidebar__status-wrapper .sidebar__status-display .sidebar__status--live .circle {
  background-color: #68abd8;
}
.feedback {
  width: 100%;
  position: relative;
  margin: 20vw 0 0 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .feedback {
    margin: 40px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback--root {
    order: 2;
    width: 825px;
    margin: 94px auto 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .feedback--root {
    order: 2;
  }
}
.feedback--root .feedback-item__left {
  order: 2;
}
@media screen and (min-width: 768px) {
  .feedback--root {
    order: 1;
  }
}
.feedback--root .feedback-item__center {
  order: 1;
}
@media screen and (min-width: 768px) {
  .feedback--root .feedback-item__center {
    order: 2;
  }
}
.feedback--details {
  width: auto;
}
.feedback--roadmap {
  width: 350px;
}
@media screen and (min-width: 768px) {
  .feedback--roadmap {
    margin: 30px 30px 0 0;
  }
}
.feedback--roadmap .feedback-item__left {
  order: 2;
}
.feedback--roadmap .feedback-item__center {
  order: 1;
}
.feedback__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.4vw;
  height: 14.9333333333vw;
  background-color: #373f68;
  color: #f2f4fe;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .feedback__controls {
    border-radius: 10px;
    height: 72px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback__controls {
    padding-top: unset;
  }
}
.feedback__controls .feedback__counter {
  display: none;
}
@media screen and (min-width: 768px) {
  .feedback__controls .feedback__counter {
    display: flex;
    align-items: center;
  }
}
.feedback__controls .feedback__counter .bulb {
  height: 24px;
  width: 23px;
  background-image: url(/src/assets/images/suggestions/bulb.png);
  background-size: cover;
  margin-right: 16px;
}
.feedback__controls .feedback__counter .count {
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
.feedback__controls .feedback__counter h3 {
  height: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
.feedback__controls .feedback__sort {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  cursor: pointer;
  width: 200px;
  cursor: pointer;
}
.feedback__controls .feedback__sort .arrow {
  width: 8px;
  height: 4px;
  display: inline-block;
  align-self: center;
  background-image: url(/src/assets/images/suggestions/white-arrow.png);
  background-size: cover;
  margin-left: auto;
  transition: 0.5s transform;
}
.feedback__controls .feedback__sort .arrow--rotated {
  transition: 0.5s transform;
  transform: rotateX(180deg);
}
.feedback__controls .feedback__sort .text {
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .feedback__controls .feedback__sort .text {
    min-width: 200px;
  }
}
.feedback__controls .feedback__sort .current {
  padding-left: 5px;
}
.feedback__controls .feedback__sort .dropdown {
  padding: 66px 0 0 0;
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: 200px;
  display: none;
}
@media screen and (min-width: 1280px) {
  .feedback__controls .feedback__sort .dropdown {
    padding: 46px 0 0 0;
    top: 26px;
  }
}
.feedback__controls .feedback__sort .dropdown--visible {
  display: block;
}
.feedback__controls .feedback__sort .dropdown .dropdown-item {
  height: 50px;
  background-color: #f7f2f2;
  display: flex;
  padding-left: 10px;
  align-items: center;
  color: black;
  border-bottom: 0.5px solid #cfcfcf;
  justify-content: space-between;
}
.feedback__controls .feedback__sort .dropdown .dropdown-item:hover {
  color: purple;
  cursor: pointer;
}
.feedback__controls .feedback__sort .dropdown .dropdown-item:nth-child(1) {
  border-top: 0.5px solid #cfcfcf;
}
.feedback__controls .feedback__sort .dropdown .dropdown-item .checked {
  height: 15px;
  width: 15px;
  background: url("/src/assets/images/shared/icon-check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  margin-right: 10px;
}
.feedback__controls a.add {
  background-color: purple;
  display: inline-block;
  padding: 10px 16px;
  color: #f2f4fe;
  border-radius: 10px;
  cursor: pointer;
  min-width: 140px;
  font-size: 13px;
}
@media screen and (min-width: 1280px) {
  .feedback__controls a.add {
    font-size: 14px;
    line-height: 20px;
    min-width: unset;
  }
}
.feedback .feedback-items-wrapper {
  margin: 24px;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper {
    margin: 0;
  }
}
.feedback .feedback-items-wrapper .feedback-item {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.180556px;
  color: #3a4374;
  padding: 24px;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item {
    padding: 28px 32px;
    min-height: 151px;
    overflow: auto;
    margin-bottom: 20px;
  }
}
.feedback .feedback-items-wrapper .feedback-item__left {
  flex: 1;
  display: flex;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__left {
    flex: 0 1 auto;
    flex-direction: column;
    margin-right: 40px;
    padding: 14px 11px 0;
  }
}
.feedback .feedback-items-wrapper .feedback-item__left .arrow {
  width: 8px;
  height: 4px;
  background-image: url(/src/assets/images/shared/icon-arrow-up.svg);
  background-size: cover;
  display: inline-block;
  align-self: center;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__left .arrow {
    margin: 0 auto 8px;
  }
}
.feedback .feedback-items-wrapper .feedback-item__left, .feedback .feedback-items-wrapper .feedback-item__right {
  display: flex;
}
.feedback .feedback-items-wrapper .feedback-item__center {
  flex: 100%;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__center {
    flex: 0 1 auto;
  }
}
.feedback .feedback-items-wrapper .feedback-item__center h4 {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__center h4 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
  }
}
.feedback .feedback-items-wrapper .feedback-item__center p {
  color: #647196;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__center p {
    font-size: 16px;
    line-height: 23px;
  }
}
.feedback .feedback-items-wrapper .feedback-item__center .tag {
  margin: 8px 0 16px;
}
.feedback .feedback-items-wrapper .feedback-item__center .tag span {
  color: #4661e6;
  font-weight: 600;
  background: #f2f4ff;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__center .tag span {
    font-size: 13px;
    line-height: 19px;
  }
}
.feedback .feedback-items-wrapper .feedback-item__right {
  order: 3;
  flex: 1;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .feedback .feedback-items-wrapper .feedback-item__right {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .feedback .feedback-items-wrapper .feedback-item__right {
    order: 3;
  }
}
.feedback .feedback-items-wrapper .feedback-item__right .comment {
  width: 18px;
  height: 16px;
  background-image: url(/src/assets/images/shared/icon-comments.svg);
  background-size: cover;
  margin-right: 10px;
  font-size: 13px;
}

.details {
  width: 100%;
}
.details__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .details__controls {
    border-radius: 10px;
    height: 72px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .details__controls {
    padding-top: unset;
  }
}
@media screen and (min-width: 768px) {
  .details__controls {
    display: flex;
    align-items: center;
  }
}
.details__controls .back {
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
.details__controls .back .arrow {
  width: 4px;
  height: 8px;
  display: inline-block;
  align-self: center;
  background-image: url("/src/assets/images/shared/icon-arrow-left.svg");
  background-size: cover;
}
.details__controls .back .text {
  color: #647196;
  font-size: 13px;
  line-height: 19px;
  margin-left: 15.67px;
}
.details__controls span.edit-feedback {
  background-color: #4661e6;
  border-radius: 10px;
  width: 119px;
  height: 40px;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f4fe;
  cursor: pointer;
}
.details .items-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.details__current {
  padding: 24px;
}
.details__current .comments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.details__current .comments > * {
  width: 100%;
}
.details__current .comments bold {
  border-radius: 10px 10px 0 0;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}
.details__current .comments bold span {
  margin-right: 5px;
}
.details__current .comments .info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.details__current .comments .info .profile-image {
  width: 110px;
}
.details__current .comments .info .profile-image div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
}
.details__current .comments .info .name {
  width: calc(100% - 50px);
}
.details__current .comments .info .name bold + div {
  color: #647196;
}
.details__current .comments .info .reply-activate {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: right;
  color: #4661e6;
  font-weight: 700;
}
.details__current .comments .text {
  word-break: break-all;
  margin-bottom: 20px;
  font-size: 14px;
  color: #303030;
}
.details__current .comments .text > span {
  margin-right: 10px;
}
.details__current .comments .reply {
  display: none;
}
.details__current .comments .reply--visible {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10vw;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .details__current .comments .reply--visible {
    padding-left: 70px;
  }
}
.details__current .comments .reply--visible > :nth-child(1) {
  flex: 0 0 100%;
}
.details__current .comments .reply--visible > :nth-child(2) {
  flex: 7;
}
@media screen and (min-width: 1280px) {
  .details__current .comments .reply--visible > :nth-child(2) {
    flex: 0 0 500px;
  }
}
.details__current .comments .reply--visible > :nth-child(3) {
  flex: 3;
}
@media screen and (min-width: 1280px) {
  .details__current .comments .reply--visible > :nth-child(3) {
    flex: 0 0 140px;
  }
}
.details__current .comments .reply textarea {
  flex: auto;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.details__current .comments .reply textarea:focus {
  font-weight: 700;
  border: 1px solid #4661e6;
}
.details__current .comments .reply button {
  display: inline-block;
  flex: 0 0 117px;
  background-color: #ad1fea;
  margin-left: 10px;
  border-radius: 10px;
  height: 44px;
  color: #f2f4fe;
  padding: 0 15px;
}
.details__current .add {
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.details__current .add textarea {
  height: 80px;
  border-radius: 5px;
  width: 100%;
}
.details__current .add textarea:focus {
  font-weight: 700;
  border: 1px solid #4661e6;
}
.details__current .add .post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details__current .add .post span {
  font-size: 12px;
  opacity: 0.8;
}
.details__current .add .post button {
  display: inline-block;
  flex: 0 0 137px;
  background-color: #ad1fea;
  margin-left: 10px;
  border-radius: 10px;
  height: 44px;
  margin-top: 10px;
  color: #f2f4fe;
}
.details textarea {
  resize: none;
  padding: 15px;
}

.edit {
  width: 540px;
  margin: 100px auto;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
}
.edit__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .edit__controls {
    border-radius: 10px;
    height: 72px;
    margin-bottom: 24px;
  }
}
.edit__controls .back {
  display: flex;
  align-items: center;
}
.edit__controls .back .arrow {
  display: inline-block;
  margin-right: 5px;
  height: 8px;
  width: 4px;
  background-image: url(/src/assets/images/shared/icon-arrow-left.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.edit__wrapper {
  margin: auto;
}
.edit__wrapper > * {
  width: 100%;
}
.edit__wrapper h3 {
  margin-top: 20px;
}
.edit__wrapper h3 + div {
  margin-bottom: 10px;
}
.edit__wrapper input {
  height: 30px;
}
.edit__wrapper .select {
  background: #f7f8fd;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  height: 30px;
}
.edit__wrapper .select:focus {
  border: 1px solid #4661e6;
}
.edit__wrapper textarea {
  width: 100%;
  background: #f7f8fd;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  resize: none;
}
.edit__wrapper textarea:focus {
  border: 1px solid #4661e6;
}
.edit__wrapper .btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  color: white;
}
.edit__wrapper button {
  width: 130px;
  height: 50px;
  font-weight: 700;
  border-radius: 10px;
}
.edit__wrapper button.delete {
  background-color: red;
  margin-right: auto;
}
.edit__wrapper button.cancel {
  background-color: #1a1d36;
  margin-right: 10px;
}
.edit__wrapper button.submit {
  background-color: purple;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: #ffffff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  color: black;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.roadmap {
  margin: 50px auto;
  width: 95%;
}
@media screen and (min-width: 1280px) {
  .roadmap {
    width: 1100px;
    margin: 50px auto;
  }
}
.roadmap__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.4vw;
  height: 14.9333333333vw;
  background-color: #373f68;
  color: #f2f4fe;
  margin-bottom: 32px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .roadmap__controls {
    height: 72px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .roadmap__controls {
    padding-top: unset;
  }
}
.roadmap__controls .arrow {
  width: 8px;
  height: 4px;
  display: inline-block;
  align-self: center;
  background-image: url(/src/assets/images/suggestions/white-arrow.png);
  background-size: cover;
  transform: rotate(90deg);
  margin-bottom: 3px;
}
.roadmap__controls a.add {
  font-size: 14px;
  line-height: 20px;
  background-color: purple;
  display: inline-block;
  padding: 10px 16px;
  color: #f2f4fe;
  border-radius: 10px;
  cursor: pointer;
}
.roadmap__columns {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .roadmap__columns {
    flex-wrap: nowrap;
  }
}
.roadmap__columns .roadmap-mobile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .roadmap__columns .roadmap-mobile-header {
    display: none;
  }
}
.roadmap__columns .roadmap-mobile-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid silver;
  flex: 1;
}
.roadmap__column--planned .feedback-item {
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}
.roadmap__column--in-progress .feedback-item {
  border-top: 5px solid purple;
  border-bottom: 5px solid purple;
}
.roadmap__column--live .feedback-item {
  border-top: 5px solid lightblue;
  border-bottom: 5px solid lightblue;
}
.roadmap__column .name-btn--active {
  border-bottom: 1px solid #000;
}

/*# sourceMappingURL=styles.css.map */
